<h1 id='title'>ANNE GANZEBOOM</h1>
<nav>
    <ul id ="homeul">
      <li id = "homeil"><%= link_to('Home', home_page_path)%></li>
      <li><%= link_to('About', about_me_path)%></li>
      <li><%= link_to('contact', contact_path)%></li>
      <li><%= link_to('Gallery', gallery_path)%></li>
      <li><%= link_to('videos', videos_path)%></li>
    </ul>
  </nav>