 
 <nav>
    <ul id = "menuli">
      <li><%= link_to('Home', home_page_path)%></li>
      <li><%= link_to('About', about_me_path)%></li>
      <li><%= link_to('contact', contact_path)%></li>
      <li><%= link_to('Gallery', gallery_path)%></li>
      <li><%= link_to('videos', videos_path)%></li>
    </ul>
  </nav>

  <h2 id='videotitle'>VIDEO'S </h2>

  <div class="picture"><img src="http://38.media.tumblr.com/17a8d0ac0a1ca96c3f4cdc0a118a26a5/tumblr_n4c8p3DROX1trxz06o4_500.gif">
</div>
